:root {
    --negro: #000;
    --verdee: #a09824;
    --blanco: #fff;
    --moradouva: #382030;
}

@font-face {
    font-family: 'Fra-Sans-M';
    src: url('fonts/FiraSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Fra-Sans-M';
    src: url('fonts/FiraSans-Regular.otf') format('truetype');
}
@media (min-width: 992px) {
  .navbar-up-desktop {
    margin-top: -10px; /* sube 10px el navbar en desktop */
  }
}