.MovieButton {
  background: transparent;
  border: 2px solid transparent; 
  padding: 2px;
  cursor: pointer;
  transition: border 0.3s ease, transform 0.3s ease;
}

.MovieButton:hover {
  border: 2px solid white;
  transform: scale(1.03);
}