.movieCarWrapper {
  position: relative;
  width: 100%;
  overflow: hidden; /* Quita el scroll visible */
}

.movieCarContainer {
  display: flex;
  gap: 10px;
  scroll-snap-type: x mandatory;
  overflow-x: hidden;
}

.movieCarItem {
  flex: 0 0 auto;
  scroll-snap-align: start;
  margin: 10px;
}

.scrollButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 8px 12px;
  cursor: pointer;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}
